#!/usr/bin/env bash

# SERVER
SERVER="irc.freenode.net"
PORT="6667"

# MAX LENGTH OF TEXT
#MAXLENGTH=400

# BOT NICK/USER
NICK="mybot"
PASS="password"
NAME="droid"
USER="bot"
#MODE="8"

# CHANNELS
CHANNELS=( "#debian-bots" )

# ADDRESSING THE BOT
ADDRESS="!"

# ERROR MESSAGE IF ADDRESSED IN PRIVMSG's
# if set, the bot will reply with this when its nick or $ADDRESS is prefixed in private messages
# if empty, the bot will go ahead and do the command anyway
# comment out to use default error message
PRIVADDRESS=""

# QUIT MESSAGE
#QUITMSG="I quit!"

# CUSTOM VERSION REPLY
#CUSTOMVERSION="Fake Client v1.0"

# CUSTOM TIME REPLY
#CUSTOMTIME="It's about tea o'clock"

# DISABLE ALL DEFAULT BEHAVIOUR
#GHOST=true

# FLOOD PROTECTION
FLOOD_CHECK=true
FLOOD_COUNT=4
FLOOD_TIME=10

# TIMEOUTS
PING_TIME=150
TIMEOUT=300

# BANTER
BANTER=false # reply to things said in channels that don't address the bot, like "lol" and "hello"
BANTER_CHANNELS=( "#debian-bots" ) # where to banter - an empty array means "all"
BANTER_GREET_STATEMENTS=( "hi" "hello" "helo" "ehlo" )

# RANDOM SHUTDOWN AFTER A GIVEN TIME
#UPTIME_LIMIT=1440		# minutes
#UPTIME_STOPCHANCE=5	# percent per minute passed
#UPTIME_MESSAGE="brb"	# written in all channels

# OWNER (admin.bmod)
OWNER="~r00t@unaffiliated/bolt" # owner will be auto-added as admin and can not be removed

# FACTOIDS
FACTOIDS_ALWAYS=true	# reply to everything
FACTOIDS_RECURSIVE=true	# if someone asks about "foo bar" and we only know about "foo", answer with that
FACTOIDS_HELPFUL=false	# helpful replies on errors
FACTOIDS_PRIORITY=0		# fallback priority
FACTOIDS_EASYLEARN=true	# enables teaching the bot things by saying "a is b", i.e. "pizza is very good". causes problems if people want to use "is" as part of a factoid name

# ARITHMETIC
ARITHMETIC_PRIORITY=5	# fallback priority

# PROXY FOR HTTP REQUESTS MADE BY CURL
#CURL_PROXY="localhost:1080"	# <host[:port]>

# CHANNEL
CHANNEL_GREET=true		# greet new users (those not seen before) using files named like "~/.bircbot/greeting-#debian.txt" where #debian is the channel name
CHANNEL_SUBSTRING=true	# check for substrings of new users. if this is enabled, "jdoe-laptop" will not be greeted if "jdoe" has already been seen
CHANNEL_PUBMAX=true		# publically announce increased peak headcount in channel

# FIFO INPUT
#FIFO="$HOME/.bircbot/bircbot.fifo"
