#!/usr/bin/env bash

# SERVER
SERVER="irc.freenode.net"
PORT="6667"

# MAX LENGTH OF TEXT
#MAXLENGTH=400

# BOT NICK/USER
NICK="mybot"
PASS="password"
NAME="droid"
USER="bot"
#MODE="8"

# CHANNELS
CHANNELS=( "#debian-bots" )

# ADDRESSING THE BOT
ADDRESS="!"

# ERROR MESSAGE IF ADDRESSED IN PRIVMSG's
# if set, the bot will reply with this when its nick or $ADDRESS is prefixed in private messages
# if empty, the bot will go ahead and do the command anyway
# comment out to use default error message
PRIVADDRESS=""

# QUIT MESSAGE
#QUITMSG="I quit!"

# CUSTOM VERSION REPLY
#CUSTOMVERSION="Fake Client v1.0"

# CUSTOM TIME REPLY
#CUSTOMTIME="It's about tea o'clock"

# HOW LONG TO RELAX WHEN NOTHING HAS HAPPENED, IN SECONDS
#RELAX=0.1

# DISABLE ALL DEFAULT BEHAVIOUR
#GHOST=true

# FLOOD PROTECTION
FLOOD_CHECK=true
FLOOD_COUNT=4
FLOOD_TIME=10

# TIMEOUTS
PING_TIME=150
TIMEOUT=300

# GREET
GREET_STATEMENTS=( "hi" "hello" "helo" "ehlo" )

# TICKMOD
TICKMOD=false # if enabled, each mod gets a call to the function <modname>_tick if it exists. eats some cpu though, so you might want to disable it

# RANDOM SHUTDOWN AFTER A GIVEN TIME (requires TICKMOD=true)
#UPTIME_LIMIT=1440		# minutes
#UPTIME_STOPCHANCE=5	# percent per minute passed
#UPTIME_MESSAGE="brb"	# written in all channels

# OWNER (admin.bmod)
OWNER="~r00t@unaffiliated/bolt" # owner will be auto-added as admin and can not be removed

# FACTOIDS
FACTOIDS_ALWAYS=true	# reply to everything
FACTOIDS_RECURSIVE=true	# if someone asks about "foo bar" and we only know about "foo", answer with that
FACTOIDS_HELPFUL=false	# helpful replies on errors
FACTOIDS_PRIORITY=0		# fallback priority
FACTOIDS_MAXREPLACE=6	# max replacements in node

# ARITHMETIC
ARITHMETIC_PRIORITY=5	# fallback priority

# PROXY FOR HTTP REQUESTS MADE BY CURL
#CURL_PROXY="localhost:1080"	# <host[:port]>

# CHANNEL
CHANNEL_GREET=true		# greet new users (those not seen before) using files named like "~/.bircbot/greeting-#debian.txt" where #debian is the channel name
CHANNEL_SUBSTRING=true	# check for substrings of new users. if this is enabled, "jdoe-laptop" will not be greeted if "jdoe" has already been seen
CHANNEL_PUBMAX=true		# publically announce increased peak headcount in channel
